<section id="about">
  <div class="section-content">
    <div class="left">
      <h2 class="titleText"><span>A</span>bout Us</h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum optio laborum neque maiores corrupti facere est voluptates cupiditate molestias provident velit at veniam ut, blanditiis obcaecati temporibus cum sapiente quaerat!. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, doloremque quidem enim nihil fugiat temporibus eveniet quo alias. Impedit, maiores? Vero blanditiis culpa voluptatibus iusto accusantium sunt deleniti quas molestiae!
      </p>
      <br>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsa vel culpa ullam iste dolorem aperiam voluptates doloribus, ex voluptatem repudiandae ad, odit aut voluptatum vitae. Voluptatem alias delectus recusandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit asperiores esse provident quidem corporis quos rerum fugiat est. Voluptas non consequatur asperiores earum excepturi esse, culpa voluptate velit quos repellendus.
      </p>
    </div>
    <div class="right">
      <img src="assets/img1.jpg" alt="img1">
    </div>
  </div>
</section>
