@import "../../config-scss/rem-calc.scss";

#about {
  .section-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .textBx {
      position: relative;
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
