<section id="about">
  <div class="section-content">
    <div class="textBx">
      <h2 class="titleText">
        <i class="fa-solid fa-clipboard-user"></i>
        <span> A</span>bout Us
      </h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum optio laborum neque maiores corrupti facere est voluptates cupiditate molestias provident velit at veniam ut, blanditiis obcaecati temporibus cum sapiente quaerat!. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, doloremque quidem enim nihil fugiat temporibus eveniet quo alias. Impedit, maiores? Vero blanditiis culpa voluptatibus iusto accusantium sunt deleniti quas molestiae!
      </p>
    </div>
    <div class="cards">
      <div class="card" id="soccer">
        <h3 class="title-card">Soccer Player</h3>
        <br>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card" id="programmer">
        <h3 class="title-card">Soccer Player</h3>
        <br>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card" id="learning">
        <h3 class="title-card">Soccer Player</h3>
        <br>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card" id="guitar">
        <h3 class="title-card">Soccer Player</h3>
        <br>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card" id="watching">
        <h3 class="title-card">Soccer Player</h3>
        <br>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
