<section id="about">
  <div class="section-content">
    <div class="textBx">
      <div class="title">
        <i class="fa-solid fa-clipboard-user"></i>
        <h2 class="titleText">
          <span> A</span>bout Us
        </h2>
      </div>
      <p class="text">
        Hello, I'm Richard and I'm currently attending the System Development course (third year) integrated with high school at Etec "Cidade do Livro", located in Lençóis Paulista. I think I'm great at creating new friendships and working as a group, and my skills as a developer are intermediate, but I'm looking for my first opportunity.  I thank you, sincerely to everyone who visited my profile and was interested if you know a little about me.
      </p>
    </div>
    <app-about-card></app-about-card>
  </div>
</section>
