<mat-toolbar class="toolbar" id="toolbar">
  <a href="#" class="logo">
    <img src="assets/personal_logo.png" alt="" />
  </a>
  <!-- WEB -->
  <ul class="navigation">
    <li><a href="#" (click)="scrollTop()">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <!-- MOBILE -->
  <button mat-icon-button class="hamburguer" (click)="toggleMenu()">
    <i class="fa-solid fa-{{ !menuOpened ? 'bars' : 'xmark' }}"></i>
  </button>
</mat-toolbar>

<app-home></app-home>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>

<footer class="footer">
  <p>
    Desenvolvido por Richard Rodrigues da Silva.
    <span>&copy; (14)99704-3502</span>
  </p>
</footer>
