<mat-toolbar class="toolbar" id="toolbar">
  <a href="#" class="logo">
    <img src="assets/personal_logo.png" alt="">
  </a>
  <div class="nav-links">
    <ul class="navigation">
      <li><a (click)="scrollTop()" href="#toolbar">Home</a></li>
      <li><a (click)="scrollTop()" href="#about">About</a></li>
      <li><a (click)="scrollTop()" href="#projects">My Projects</a></li>
      <li><a (click)="scrollTop()" href="#contact">Contact</a></li>
    </ul>
  </div>
</mat-toolbar>

<app-home></app-home>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>
