@import '../../../config-scss/rem-calc.scss';

.project-cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    width: 500px;
    height: auto;
    margin: 20px;
    background-color: var(--secondary);
    border-radius: 15px;
    border: 5px solid var(--blue);
    box-shadow: 0 0 15px var(--blue);

    .top-card {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    .btn-card {
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;

      a {
        margin-left: 10px;
        color: var(--blue);
        background: transparent;
        border-radius: 10px;
        border: 2px solid var(--blue2);
        transition: ease-in-out .2s;
      }

      a:hover {
        transform: scale(1.08);
        color: var(--white);
        background-color: var(--blue2);
      }
    }
  }
}
