<section class="banner">
  <div class="content">
    <h2>Welcome!</h2>
    <h1 class="titleHome">I Am Richard Rodrigues</h1>
    <h3>System Development Student of Etec 'City of Book'</h3>
    <div class="social-buttons">
      <a href="https://twitter.com/souorichard" target="_blank" class="social-button">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/richard-rodrigues-003533231/" target="_blank" class="social-button">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/souorichard" target="_blank" class="social-button">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.instagram.com/richardrodrigues_" target="_blank" class="social-button">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://wa.me/5514997043502" target="_blank" class="social-button">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
</section>
